# Dependency directory
node_modules/

# Build directory
build/

# Release directory
dist/

# IDEs
.idea/

# OSX > NAS drive folder info, local folder info & icon
._.DS_Store
.DS_Store
._*

target/

resources/semantic-model-cache/
resources/ffmpeg/.version
resources/ffmpeg/ffmpeg
resources/ffmpeg/ffmpeg.exe
resources/sqlite-vector/.version
resources/sqlite-vector/vector.dylib
resources/sqlite-vector/vector.so
resources/sqlite-vector/vector.dll