#search-form {
  display: flex;
  flex-direction: column;
  // changed from min-width since large tag names expand the dialog width which looks bad
  width: min(95ch, 80vw);
  margin-inline: auto;

  .criteria-input,
  .conjuction-input,
  [role='combobox'] {
    height: 1.75rem;
    width: 100%;
  }

  .tag-selector {
    // otherwise long nested tag names make the fly-out panel too wide
    [role='grid'] {
      max-width: 16rem;
    }
  }
}

#criteria-builder-label {
  display: flex;
  padding-bottom: 0.4rem;
}

#criteria-builder {
  display: grid;
  grid-template-columns: 1.6rem max-content 3fr 3fr 4fr min-content;
  gap: 0.25rem 0.5rem;
  align-items: center;

  label {
    text-transform: uppercase;
    font-size: smaller;
    padding-left: 1ch;
  }
}

#query-editor-container {
  overflow: hidden auto;
  padding: 2px;
  // dialog height - height of basically everything except the container
  max-height: calc(80vh - 17.25rem);
}

#query-editor-container-label {
  display: flex;
  padding-block: 0.4rem;
}

#query-editor {
  display: grid;
  grid-template-columns: 1.6rem max-content 3fr 3fr 4fr min-content;
  gap: 0.25rem 0.5rem;
  align-items: center;
  width: 100%;
  border-spacing: 0;

  .criteria-input,
  [role='combobox'] {
    //min-width: 175px;
    width: 100%;
  }

  .separator {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color-muted);
    opacity: 0.5;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--text-color-muted);
      margin: 0 8px;
    }
  }
}
